<?xml version="1.0" ?>
<arcane-config code-name="HelloWorld">
  <time-loops>
    <time-loop name="HelloWorldLoop">
 
      <title>SayHello</title>
      <description>Default timeloop for code HelloWorld</description>
 
      <modules>
        <module name="SayHello" need="required" />
      </modules>

      <entry-points where="build">
        <entry-point name="SayHello.BuildModule" />
      </entry-points>
      <entry-points where="init">
        <entry-point name="SayHello.StartInit" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="SayHello.Compute" />
      </entry-points>
      <entry-points where="exit">
        <entry-point name="SayHello.EndModule" />
      </entry-points>
 
    </time-loop>
  </time-loops>
</arcane-config>
